#button {
    position: relative;
    margin-top: 10px;
}

.b_text {
    text-align: center;
    color: #111;
    position: absolute;
    white-space: nowrap;
    line-height: 1.6;
}

.b_text i:after, .b_text i:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    box-shadow: inset 0 3px 5px hsla(0,0%,100%,.8);
}

.b_text i:after {
    box-shadow: inset 0 -3px 5px rgba(0,0,0,.8);
}

.b_text i {
    display: block;
    position: relative;
    border: 1px solid #000;
    border-radius: 50%;
    box-shadow: 0 3px 3px rgba(0,0,0,.2);
}

.b_dire i {
    width: 50px;
    height: 50px;
}

.b_space i {
    width: 100px;
    height: 100px;
}

.b_control i {
    width: 30px;
    height: 30px;
    margin-left: 8px;
}

.b_bg1 i {
    background: #5a65f1;
}

.b_bg2 i {
    background: #9ef15a;
}

.b_bg3 i {
    background: #ff4d21;
}

.b_dire em {
    width: 0;
    height: 0;
    border: 8px solid;
    border-color: transparent transparent #111;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -12px 0 0 -8px;
}

.b_text span {
    margin: 0 auto;
}

#rotate {
    top: 0px; 
    left: 270px;
}

#rotate em {
    transform: translate(0px, 45px) scale(0.75, 1.5);
}

#down {
    top: 120px;
    left: 270px;
}

#down em {
    transform: translate(0px, -35px) rotate(180deg) scale(0.75, 1.5);
}

#left {
    top: 73px;
    left: 220px;
}

#left em {
    transform: translate(30px, -8px) rotate(270deg) scale(0.75, 1.5);
}

#right {
    top: 73px;
    left: 320px;
}

#right em {
    transform: translate(-30px, -8px) rotate(90deg) scale(0.75, 1.5);
}

#drop {
    top: 60px;
    left: 70px;
}

#pause {
    top: 5px;
    left: 60px;
}

#reset {
    top: 5px;
    left: 130px;
}

i.pressed:after {
    box-shadow: inset 0 3px 4px rgba(0,0,0,.6);
}

i.pressed:before {
    box-shadow:  inset 0 -2px 3px hsla(0,0%,100%,.6);
}