#guide {
  height: 0;
}

.guide-op {
  position: relative;
  display: inline-block;
  background: #364d4b;
  border-radius: 4px;
  color: #acc3c1;
  font-size: 16px;
  box-shadow: inset 0 5px 10px hsla(0,0%,100%,.15);
  
  height: 40px;
  width: 70px;
  top: 140px;
}

.guide-op i {
  display: block;
  width: 0;
  height: 0;
  border: 5px solid;
  border-color: transparent transparent #acc3c1;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -9px 0 0 -5px;
}

.guide-op:before, .guide-op:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  box-shadow: inset 0 5px 10px hsla(0,0%,100%,.15);
}

.guide-op:before {
  box-shadow: inset 0 -5px 10px rgba(0,0,0,.15);  
}

.guide-op.space {
  text-align: center;
  font-weight: 600;
  left: -80%;
  height: 60px;
  width: 300px;
  line-height: 60px;
  letter-spacing: 2px;
}

.guide-op-wrapper {
  position: absolute;
  left: 110%;
  top: -25px;
  white-space: nowrap;
}

.guide-op.up {
  margin: auto;
  display: block;
  margin-bottom: 4px;
}