#root {
    width: 440px;
    height: 100%;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background: #ebcb3c;
    border-radius: 1em;
    position: absolute;
    box-shadow: inset 0 0 10px #fff;
}

#game {
    border: solid #000;
    border-width: 0 6px 6px;
    margin: 30px 50px 15px;
    width: 340px;
    padding: 30px 0 20px;
    position: relative;
}

#container {
    width: 86%;
    border: 5px solid;
    border-color: #987f0f #fae36c #fae36c #987f0f;
    margin: 0 auto;
    position: relative;
}

#border {
    background: #9ead86;
    border: 1px solid #000;
    padding: 4px 4px 0px;
}

#main canvas {
    border: 2px solid #000;
    width: 65%;
}

#head , #head h1 {
    position: absolute;
    width: 100%;
    height: 6px;
    top: 0;
}

span[class^=end] {
    width: 15%;
    height: 6px;
    background: #000;
}

span.end1 {
    float: left;
    margin-right: 6px;
}

span.end2 {
    float: right;
    margin-left: 6px;
}

#head span[class^=dot] {
    background: #000;
    width: 6px;
    height: 6px;
}

#head span.dot1 {
    float: left;
    margin-right: 6px;
}

#head span.dot2 {
    float: right;
    margin-left: 6px;
}

#title {
    font-size: 1.2em;
    font-weight: 500;
    position: absolute;
    top: 20%;
    left: 18%;
    visibility: hidden;
}

#head h1 {
    font-size: 1.4em;
    font-weight: 400;
    text-align: center;
    top: -0.6em;
}