* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;

    /* 阻止长按选中文本 */
    -webkit-touch-callout: none;
    
    -webkit-user-select: none;
    user-select: none;

    /* 阻止点击出现阴影 */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

div {
    display: block;
}

html, body {
    height: 100%;
}

body {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    cursor: default;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    direction: ltr;
    text-align: left;
}

@media screen and (max-height: 600px) {
    body {
        font-size: 12px;
    }
}